<header>
  <div class="header__wrapper">
    <div class="header__branding">
      <img src="../../assets/logo.jpg" alt="" />
    </div>
    <div class="header__navigation">
      <div class="header__navigation--item" (click)="goToSection('home')">
        Home
      </div>
      <div class="header__navigation--item" (click)="goToSection('course')">
        Courses
      </div>
      <div class="header__navigation--item" (click)="goToSection('about')">
        About Us
      </div>
      <div class="header__navigation--item" (click)="goToSection('review')">
        Students' Review
      </div>
      <div class="header__navigation--item" (click)="goToSection('contact')">
        Contact Us
      </div>
    </div>
  </div>
</header>
