<!-- <app-header></app-header> -->
<div class="modal-header">
  <h4 class="modal-title">{{ course.title }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>
<div class="modal-body">
  <main>
    <div class="banner">
      <!-- <div class="close-btn" (click)="closeModal()">Close</div> -->
      <div class="banner__item">
        <img [src]="course.img" alt="" />
      </div>
    </div>
    <div class="content">
      <!-- <div class="content__title">{{ course.title }}</div> -->
      {{ course.description }}
    </div>
    <form [formGroup]="userForm">
      <div class="form">
        <p class="form__title">Fill Form</p>
        <div class="row">
          <div class="col-lg-6 mt-3">
            <label>First Name</label>
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
            />
            <field-errors
              [fieldName]="'firstName'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
          <div class="col-lg-6 mt-3">
            <label>Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
            />
            <field-errors
              [fieldName]="'lastName'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
        </div>
        <!-- <div class="row mt-3">
          <div class="col-lg-12">
            <label>Last Name</label>
            <input type="text" class="form-control" />
          </div>
        </div> -->
        <div class="row">
          <div class="col-lg-6 mt-3">
            <label>Contact No</label>
            <input
              formControlName="contactNo"
              type="tel"
              class="form-control"
            />
            <field-errors
              [fieldName]="'contactNo'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
          <div class="col-lg-6 mt-3">
            <label>Email</label>
            <input formControlName="email" type="text" class="form-control" />
            <field-errors
              [fieldName]="'email'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt-3">
            <label>Address</label>
            <input formControlName="address" type="text" class="form-control" />
            <field-errors
              [fieldName]="'address'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
        </div>
        <!-- <div class="row mt-3">
          <div class="col-lg-12">
            <label>Email</label>
            <input type="text" class="form-control" />
          </div>
        </div> -->
        <div class="row">
          <div class="col-lg-12 mt-3">
            <label>Gender</label>
            <input formControlName="gender" type="text" class="form-control" />
            <field-errors
              [fieldName]="'gender'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mt-3">
            <label>Courses</label>
            <select formControlName="course" class="form-control">
              <option value="MBBS/MD">MBBS/MD</option>
              <option value="FORENSIC">Forensic</option>
              <option value="DENTAL">Dental</option>
              <option value="CLINIC ROTATION">Clinic Rotation</option>
            </select>
            <field-errors
              [fieldName]="'course'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
          <div class="col-lg-6 mt-3">
            <label>Country</label>
            <select formControlName="country" class="form-control">
              <optgroup value="United States of America">
                <option
                  [value]="country.properties.name"
                  *ngFor="let country of countries"
                >
                  {{ country.properties.name }}
                </option>
              </optgroup>
            </select>
            <field-errors
              [fieldName]="'country'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mt-3">
            <label>12th Percentage</label>
            <select formControlName="twelfthPercentage" class="form-control">
              <option
                [value]="i + 40"
                *ngFor="let percent of [].constructor(61); index as i"
              >
                {{ i + 40 }}%
              </option>
            </select>
            <field-errors
              [fieldName]="'twelfthPercentage'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
          <div class="col-lg-6 mt-3">
            <label>NEET Score</label>
            <input
              formControlName="neetScore"
              class="form-control"
              type="number"
            />
            <field-errors
              [fieldName]="'neetScore'"
              [formGroup]="userForm"
              [getErrorMessage]="getErrorMessage.bind(this)"
            ></field-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 mt-3">
            <button (click)="onSubmitForm()" class="btn btn-primary w-100">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>
